flask
flask-cors
scikit-learn
numpy
spacy
PyPDF2
gunicorn
pdfminer.six
python-docx
supabase
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.1.tar.gz